manifest {
    name = 'hu-rnmp-pipeline'
    author = 'Noah T. Jones'
    mainScript = 'main.nf'
    nextflowVersion = '>=24.04.0'
    description = 'Public-data rNMP incorporation pipeline'
}

params {
    accession = null
    input_csv = null
    outdir = 'results'
    genome = 'sacCer3'
    organism = null
    treatment = 'unspecified'
    control = 'unspecified'
    assay = null
    technique = null
    layout = null
    min_mapq = 0
    max_reads = 0
    subsample_seed = 1
    max_runs = 0
    max_insert = 2000
    run_harmonia = false
    enable_pathway_ora = false
    tool_scripts = "${projectDir}/../scripts"
    pathways = "${projectDir}/../pathways/pathways.yaml"
    harmonia_rules = "${projectDir}/../harmonia/rnmp.rules.txt"
}

includeConfig 'conf/base.config'
